<!-- PAGE CONTENT WRAPPER -->
<div class="page-content-wrap">
    <div class="col-md-12">
        <a ng-click="dropshipPurchasedOrder(check)" class="btn btn-info pull-right" style="border-color: antiquewhite;">Mark as Dropship</a>
    </div>
    <div class="row">
        <div class="col-md-12">

            <!-- START DEFAULT DATATABLE -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Awaiting Dropship</h3>
                </div>
                <div class="panel-body">
                    <table class="table datatable">
                        <thead>
                        <tr>
                            <th style="width: 9%;">Record ID</th>
                            <th style="width: 12%;">Ext. Order ID</th>
                            <th style="width:23%">Item Title</th>
                            <th style="text-align: center;">Qty</th>
                            <th style="width: 13%;">Buyer Name</th>
                            <th style="text-align: center;width: 10%;">Total Amount</th>
                            <th style="text-align: center;width: 12%;">Shipping Service</th>
                            <th style="text-align: center;width: 11%;">Paid Date</th>
                            <th style="text-align: center;width: 11%;">Dropshipped</th>
                        </tr>
                        <tr  ng-repeat="x in EbayListing"  ng-click="getStock(x.id)">
                            <td>{{x.orderRef}}
                                    <i ng-if="x.transactionArrayLength!='1' && x.pOrderRef==null" class="fa fa-info-circle" uib-tooltip="Bundle Purchase"style="font-size: 14px;color: yellowgreen;"></i>
                                </a>
                            </td>
                            <td>{{x.extendedOrderId}}</td>
                            <td>
                                <label class="container" ng-if="x.orderStatus!='DROPSHIPPED'"><input type="checkbox" checked="checked" ng-model="check" ng-change="selected(check,x.id)" style="width: 26px;vertical-align: bottom;height:17px;"><span class="checkmark"></span></label>{{x.title}}</td>
                            <td style="text-align: center">
                                <text ng-if="x.quantityPurchased!=null">{{x.quantityPurchased}}</text>
                                <text ng-if="x.quantity!=null">{{x.quantity}}</text>
                            </td>
                            <td style="text-transform:capitalize;">{{x.buyerName}}</td>
                            <td style="text-align: center"><i ng-if="x.totalAmountCurrencyId=='GBP'" class="fa fa-gbp"></i><i ng-if="x.totalAmountCurrencyId=='EUR'" class="fa fa-eur"></i>&nbsp;{{x.totalAmount}}</td>
                            <td>
                                <i ng-if="x.subTotal!=x.totalAmount && x.transactionArrayLength>='1' && x.orderStatus!='AwaitingPayment'" class="fa fa-check-circle" uib-tooltip="{{x.shippingServiceSelected}}" tooltip-placement="bottom-right" style="font-size: 14px; color:green;margin-left: 37px;"></i>
                                <i ng-if="x.subTotal==x.totalAmount && x.orderStatus!='AwaitingPayment'"class="fa fa-times-circle" style="font-size: 14px;color:lightgray;margin-left: 37px;"></i>
                            </td>
                            <td style="text-align: center">{{x.paidDate | date:'mediumDate'}}</td>
                            <td>
                                <i ng-if="x.orderStatus=='DROPSHIPPED'" class="fa fa-check-circle" uib-tooltip="Item Dropshipped Earlier" tooltip-placement="bottom-right" style="font-size: 14px; color:green;margin-left: 37px;"></i>
                                <i ng-if="x.orderStatus!='DROPSHIPPED'"class="fa fa-times-circle" style="font-size: 14px;color:lightgray;margin-left: 37px;"></i>
                            </td>

                        </tr>
                        </thead>
                    </table>
                </div>
            </div>
            <!-- END DEFAULT DATATABLE -->
        </div>
    </div>
</div>
<!-- PAGE CONTENT WRAPPER -->