
<div class="page-content-wrap">

    <div class="panel panel-default ">

        <div class="panel-body tab-content">
            <div class="tab-pane active" >
                <div ng-if="items.length>0" class="row">
                    <div class="col-md-12" style="min-height:33px;">
<!--
                        <button ng-click="save(items)" ng-disabled="!orderEdit" class="btn btn-primary pull-right">Save</button>
-->
                    </div>

                    <div class="col-md-12"  data-ng-controller="MainCtrl as ctrl" style="z-index: 1;">
                        <!-- <div class="scroll">-->
                        <div class="horizontal">
                            <hot-table
                                    settings="ctrl.settings"
                                    row-headers="ctrl.rowHeaders"
                                    col-headers="ctrl.colHeaders"
                                    datarows="ctrl.db.items"

                            >
                                <hot-column ng-repeat="column in ctrl.columns" data="{{column.data}}" title="column.title" read-only="column.readOnly"></hot-column>
                                <hot-column width="420" data="title" title="'Item Title'" type="'text'"></hot-column>
                                <hot-column width="130" data="itemNumber" renderer="'html'" title="'Item ID'" ></hot-column>
                                <hot-column  width="107" data="quantity" title="'Available QTY'" type="'text'"></hot-column>
                                <hot-column  width="107" data="reListQuantity" title="'Listed QTY'" type="'text'"></hot-column>
                                <hot-column  width="110" data="lastEffectiveDate" title="'Updated On'" type="'text'"></hot-column>
                                <hot-column  width="140" data="sku" title="'SKU'" type="'text'"></hot-column>
                                <hot-column width="140" data="itemIdList" title="'Previous ItemID'" type="'dropdown'" ></hot-column>
                                </hot-table>
                        </div>
                        <ul uib-pagination total-items="page.totalElements" class="hidden" ng-model="page.currentPage" ng-change="loadOrders()"></ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="tabs">
        <ul class="nav nav-tabs" role="tablist">
            <li ng-repeat="c in channels" class="{{c.id==channelId?'active':''}}" style="margin-top:3px;"><a href="#!/log/{{params.id}}/{{sheet.spreadSheetId}}/{{c.id}}/{{c.logName}}" role="tab" data-toggle="tab">{{c.logName}}</a></li>
        </ul></div>

</div>

<style>
    .nav-tabs > li > a {
    margin-right: 2px!important;
    border: 0px!important;
    font-size: 11px!important;
    }
</style>
