&nbsp;
<!-- PAGE CONTENT WRAPPER -->
<div class="page-content-wrap">

    <div class="row" style="font-size:13px;">
        <div class="col-md-12">

            <form name="myForm" class="form-horizontal">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title"><strong>ADD</strong> Vinted Stock Listing</h3>
<!--                        <ul class="panel-controls">-->
<!--                            <li><a href="#!/ActiveListing/{{params.id}}" class="panel-remove"><span class="fa fa-times"></span></a></li>-->
<!--                        </ul>-->
                    </div>
                    <div class="panel-body">

                        <div class="form-group" >
                            <label class="col-md-3 col-xs-12 control-label">Category</label>
                            <div class="col-md-7 col-xs-12">
                                <div class="input-group">
                                    <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                    <select class="form-control" ng-model="StockListing.category" ng-change="onCategoryChange(this)" name="StockListing.category">
                                        <option value=""> Select Category</option>
                                        <option ng-repeat="x in tableVal" value="{{x.id}}">{{x.title}}</option>
                                    </select>
                                </div>
                                <span class="help-block">Select Category</span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3 col-xs-12 control-label">Title*</label>
                            <div class="col-md-7 col-xs-12">
                                <div class="input-group">
                                    <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                    <input type="text" ng-model="StockListing.title" class="form-control">
                                </div>
                                <span class="help-block"></span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3 col-xs-12 control-label">Custom Label</label>
                            <div class="col-md-7 col-xs-12">
                                <div class="input-group">
                                    <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                    <input type="text" ng-model="StockListing.sku" class="form-control"/>
                                </div>
                                <span class="help-block">Enter SKU</span>
                            </div>
                        </div>



                        <div class="form-group">

                            <label class="col-md-3 col-xs-12 control-label">EAN</label>
                            <div class="col-md-3 col-xs-12">
                                <div class="input-group">
                                    <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                    <input type="text" ng-model="StockListing.ean" value="Does Not Apply" class="form-control">
                                </div>
                                <span class="help-block"></span>
                            </div>

                            <div class="col-md-4 col-xs-12">
                                <label class="col-md-3 col-xs-12 control-label">Condition</label>
                                <div class="input-group">
                                    <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                    <select ng-model="StockListing.conditionID" class="form-control">
                                        <option value=""> Select Condition</option>
                                        <option value="1000">New</option>
                                        <option value="3000">Like New (Used)</option>
                                        <option value="4000">Very Good</option>
                                        <option value="5000">Good</option>
                                        <option value="6000">Acceptable</option>
                                    </select>
                                </div>
                                <span class="help-block"></span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3 col-xs-12 control-label">Image URL</label>
                            <div class="col-md-7 col-xs-12">
                                <div class="input-group">
                                    <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                    <input type="text" ng-model="StockListing.imageUrl" class="form-control">
                                </div>
                                <span class="help-block">Upload One Image URL Only <a href="https://imgbb.com/" target="_blank">Get URL From Here</a></span>
                            </div>
                        </div>


                        <div class="form-group">
                            <label class="col-md-3 col-xs-12 control-label">Description*</label>
                            <div class="col-md-7 col-xs-12">
                                <textarea  ng-model="StockListing.description" class="form-control" rows="9"></textarea>
                                <span class="help-block"></span>
                            </div>
                        </div>


                        <div class="form-group">
                            <label class="col-md-3 col-xs-12 control-label">Platform</label>
                            <div class="col-md-3 col-xs-12">
                                <div class="input-group">
                                    <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                    <input type="text" ng-model="StockListing.platform"  class="form-control">
                                </div>
                                <span class="help-block"></span>
                            </div>

                            <div class="col-md-4 col-xs-12">
                                <label class="col-md-3 col-xs-12 control-label">Genre</label>
                                <div class="input-group">
                                    <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                    <input type="text" ng-model="StockListing.platform"  class="form-control">
                                </div>
                                <span class="help-block"></span>
                            </div>
                        </div>


                        <div class="form-group">
                            <label class="col-md-3 col-xs-12 control-label">Brand</label>
                            <div class="col-md-3 col-xs-12">
                                <div class="input-group">
                                    <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                    <input type="text" ng-model="StockListing.brand" value="Does Not Apply" class="form-control">
                                </div>
                                <span class="help-block"></span>
                            </div>

                            <div class="col-md-4 col-xs-12">
                                <label class="col-md-3 col-xs-12 control-label">MPN</label>
                                <div class="input-group">
                                    <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                    <input type="text" ng-model="StockListing.mpn" value="Does Not Apply" class="form-control">
                                </div>
                                <span class="help-block"></span>
                            </div>
                        </div>


<!--                        <div class="form-group">-->
<!--                        <label class="col-md-3 col-xs-12 control-label">Shipping Profile ID</label>-->
<!--                        <div class="col-md-7 col-xs-12">-->
<!--                        <div class="input-group">-->
<!--                        <span class="input-group-addon"><span class="fa fa-pencil"></span></span>-->
<!--                        <input type="text" ng-model="StockListing.shippingProfileId" value="Does Not Apply" class="form-control">-->
<!--                        </div>-->
<!--                        <span class="help-block"></span>-->
<!--                        </div>-->
<!--                        </div>-->


<!--                        <div class="form-group">-->
<!--                              <label class="col-md-3 col-xs-12 control-label">Shipping Profile Name</label>-->
<!--                              <div class="col-md-7 col-xs-12">-->
<!--                                  <div class="input-group">-->
<!--                                      <span class="input-group-addon"><span class="fa fa-pencil"></span></span>-->
<!--                                      <input type="text" ng-model="StockListing.shippingProfileName" value="Does Not Apply" class="form-control">-->
<!--                                  </div>-->
<!--                                  <span class="help-block"></span>-->
<!--                              </div>-->
<!--                          </div>-->


<!--                          <div class="form-group">-->
<!--                              <label class="col-md-3 col-xs-12 control-label">Return Profile ID</label>-->
<!--                              <div class="col-md-7 col-xs-12">-->
<!--                                  <div class="input-group">-->
<!--                                      <span class="input-group-addon"><span class="fa fa-pencil"></span></span>-->
<!--                                      <input type="text" ng-model="StockListing.returnProfileId" value="Does Not Apply" class="form-control">-->
<!--                                  </div>-->
<!--                                  <span class="help-block"></span>-->
<!--                              </div>-->
<!--                          </div>-->


<!--                          <div class="form-group">-->
<!--                              <label class="col-md-3 col-xs-12 control-label">Return Profile Name</label>-->
<!--                              <div class="col-md-7 col-xs-12">-->
<!--                                  <div class="input-group">-->
<!--                                      <span class="input-group-addon"><span class="fa fa-pencil"></span></span>-->
<!--                                      <input type="text" ng-model="StockListing.returnProfileName" value="Does Not Apply" class="form-control">-->
<!--                                  </div>-->
<!--                                  <span class="help-block"></span>-->
<!--                              </div>-->
<!--                          </div>-->

<!--                          <div class="form-group">-->
<!--                              <label class="col-md-3 col-xs-12 control-label">Payment Profile ID</label>-->
<!--                              <div class="col-md-7 col-xs-12">-->
<!--                                  <div class="input-group">-->
<!--                                      <span class="input-group-addon"><span class="fa fa-pencil"></span></span>-->
<!--                                      <input type="text" ng-model="StockListing.paymentProfileId" value="Does Not Apply" class="form-control">-->
<!--                                  </div>-->
<!--                                  <span class="help-block"></span>-->
<!--                              </div>-->
<!--                          </div>-->

<!--                          <div class="form-group">-->
<!--                              <label class="col-md-3 col-xs-12 control-label">Payment Profile Name</label>-->
<!--                              <div class="col-md-7 col-xs-12">-->
<!--                                  <div class="input-group">-->
<!--                                      <span class="input-group-addon"><span class="fa fa-pencil"></span></span>-->
<!--                                      <input type="text" ng-model="StockListing.paymentProfileName" value="Does Not Apply" class="form-control">-->
<!--                                  </div>-->
<!--                                  <span class="help-block"></span>-->
<!--                              </div>-->
<!--                          </div>-->

<!--                        &lt;!&ndash;<h3>Selling Details</h3>&ndash;&gt;-->


                        <div class="form-group">
                            <label class="col-md-3 col-xs-12 control-label">Price*</label>
                            <div class="col-md-3 col-xs-12">
                                <div class="input-group">
                                    <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                    <input  ng-model="StockListing.buyItNowPriceValue" type="number" class="form-control"/>
                                </div>
                                <span class="help-block"></span>
                            </div>

<!--                            <div class="col-md-4 col-xs-12">-->
<!--                                <label class="col-md-3 col-xs-12 control-label">Quantity*</label>-->
<!--                                <div class="input-group">-->
<!--                                    <span class="input-group-addon"><span class="fa fa-pencil"></span></span>-->
<!--                                    <input  ng-model="StockListing.quantityAvailable" type="number" class="form-control"/>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->


                    </div>
                    <div class="panel-footer">
                        <button ng-click="postListing(StockListing,params.id)" ng-disabled="!(StockListing.title)" class="btn btn-primary pull-right m-r-xs">Submit</button>
                    </div>
                    </div>
                </div>
            </form>

        </div>
    </div>

</div>
