<!-- PAGE CONTENT WRAPPER -->
<div class="page-content-wrap">
  <div class="col-md-12">
<!--    <a href="#!/stock-new/{{params}}" class="btn btn-info pull-right" style="border-color: antiquewhite;">Add Item</a>-->
<!--    <a ng-click="showPopup()" class="btn btn-info pull-right" style="border-color: antiquewhite;">Add Stock</a>-->
<!--    <a ng-click="deleteItemFromStock(check)" class="btn btn-info pull-right" style="border-color: antiquewhite;">Delete Item</a>-->
<!--    <a ng-click="attachToAwaitingDispatch(check)" class="btn btn-info pull-right" style="border-color: antiquewhite;">Stock available</a>-->
<!--    <a ng-click="deleteStockByAccountId()" class="btn btn-info pull-right" style="display:none;">Delete Entire Stock</a>-->
<!--    <a class="btn btn-info pull-right" ng-click="removeDuplicates()" style="border-color: antiquewhite;">Remove Duplicates</a>-->
<!--    <a class="btn btn-info pull-right" ng-click="showItemToListOnEbay(check)" style="border-color: antiquewhite;">List to eBay</a>-->
<!--    <a class="btn btn-info pull-right" ng-click="getListings()" style="border-color: antiquewhite;">Listings to Stock</a>-->
  </div>
  <div class="row" style="font-size:13px;">
    <div class="col-md-12">

      <!-- START DEFAULT DATATABLE -->
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title"><img style="width: 73px; height: 42px;" src="img/logo.svg"></img>   Stocks &nbsp;({{page.totalElements}})</h3>
          <ul class="panel-controls">&nbsp;
            <label>
              <input type="search" uib-tooltip="Search With SKU or Title" class="form-control" ng-enter="search()" placeholder="Search..." style="border-radius:0px;" ng-model="searchText">
            </label>&nbsp;
            <!--Listings to Stock:
            <select ng-model="accountName" ng-change="getListings(accountName)">
              <option value="PoundMonkey"ng-disabled="false">PoundMonkey</option>
              <option value="Default">Default</option>
            </select>-->
            &nbsp;&nbsp;
            Minimum Limit:
            <select ng-model="value" ng-change="setMinLimit(check,value)">
              <option value="5">5</option>
              <option value="10">10</option>
              <option value="15">15</option>
              <option value="20">20</option>
            </select>
            &nbsp;&nbsp;
            Sort By:
            <select ng-model="value" ng-change="sortBy(value)">
              <option value="quantityAvailable_desc">Quantity More</option>
              <option value="quantityAvailable_asc">Quantity Less</option>
              <option value="skuNumber_desc">Latest SKU</option>
              <option value="skuNumber_asc">Oldest SKU</option>
            </select>
            <a href="#!/vintedStock/{{params.id}}/new" class="btn btn-info pull-right"  style="border-color: antiquewhite;">New Stock</a>
            &nbsp;&nbsp;
<!--            <a class="btn btn-info pull-right" ng-click="getListings()" style="border-color: antiquewhite;">Add to Listings</a>-->
<!--            <a href="#!/stock-log/{{params}}/{{stock.getData}}" class="btn btn-info pull-right" style="border-color: antiquewhite;">Submit</a>-->

            <li ng-if="data.upload">
              <a uib-tooltip="Uploading Data from Vinted" class="panel-collapse btn-info disabled">
              <span class="btn-info fa fa-refresh fa-spin"></span>
            </a
            ></li>
            <li ng-if="!data.upload">
              <a uib-tooltip="Load VintedStock"ng-click="load()" class="panel-refresh">
                <span class="fa fa-refresh"></span>
              </a>
            </li>
          </ul>
        </div>
        <div class="panel-body">
          <table class="table datatable">
            <thead>
            <tr>
              <th>Name</th>
              <th style="text-align: center;width:80px;">Quantity</th>
              <th style="text-align: center;width:100px;">SKU</th>
              <th style="text-align: center;width:117px;">Category</th>
              <th style="text-align: center;width:117px;">Listing ID</th>
              <th style="text-align: center;width:95px;">Condition</th>
              <th style="text-align: center;width:108px;">EAN</th>
              <th style="text-align: center;width:75px;">Avg Price</th>
              <th style="text-align: center;width:104px;">Modified Date</th>
              <th></th>
            </tr>
            <tr  ng-repeat="x in tableVal" >
<!--              <td>-->
<!--                <a ng-click="removeAddedItem(x)"><i class="fa fa-trash-o" style="font-size:14px;margin-left:-18px;"></i></a>-->
<!--                <input type="text" title="{{x.title}}" data-toggle="tooltip" data-placement="top" ng-show="x.imageUrl==null" style="font-size:13px;" ng-model="x.imageUrl" ng-change="saveChanges(x)" contenteditable>-->
<!--                <input type="text" title="{{x.title}}" data-toggle="tooltip" data-placement="top" ng-show="x.imageUrl!=null" style="font-size:13px;" ng-model="x.imageUrl" ng-change="saveChanges(x)" contenteditable>-->
<!--              </td>-->
              <td>
                <label class="container">
                  <input type="checkbox" style="width: 16px;height: 16px;" ng-model="check" ng-change="selected(check,x.vinted.id)">
                  <span class="checkmark"></span>
                </label>
                <a href="{{x.vinted.imageUrl}}" target="_blank"><img ng-show="x.vinted.imageUrl!=null" src="{{x.imageUrl}}" style="width:46px;height:60px;"><img ng-show="x.vinted.imageUrl==null" src="https://i.ibb.co/bNzntHV/No-Image-Placeholder-svg.png" style="width:36px;height:60px;"></a>
                <a href="#!/vintedStockEdit/{{x.vinted.accountId}}/{{x.vinted.id}}">&nbsp;&nbsp;<text>{{x.vinted.title}}</text></a>&nbsp;
<!--                <a href="#!/stock-history/{{x.id}}">-->
<!--                  <i uib-tooltip="{{x.title}} History" tooltip-placement="right" class="fa fa-history fa-2 text-success" aria-hidden="true"></i>-->
<!--                </a>-->
              </td>
              <td>{{x.vinted.quantity}}</td>
              <td>{{x.vinted.sku}}</td>
<!--              <td>-->
<!--                <input type="number" min="0" ng-model="x.quantity" ng-model-options="{updateOn: 'blur'}" ng-change="save(x)" style="WIDTH:98%;text-align:center;"class="myInput">-->
<!--                <i ng-if="x.linkAwaitingDispatch==true" class="fa fa-check-circle" style="font-size: 14px;margin-left: 30px;color:green;text-align:center;"></i>-->
<!--                <i ng-if="x.linkAwaitingDispatch!=true" class="fa fa-times-circle" style="font-size: 14px;color:lightgray; margin-left: 30px;text-align:center;"></i>-->
<!--              </td>-->
<!--              <td style="text-align: center">-->
<!--                <input type="text" style="Width:115%;"ng-model="x.sku" ng-model-options="{updateOn: 'blur'}" ng-change="saveSku(x)" class="myInput">-->
<!--              </td>-->
              <td title="{{x.vinted.tooltip}}">{{x.vinted.category}}</td>
              <td>{{x.vinted.id}}</td>
              <td>{{x.vinted.conditionId}}</td>
              <td>{{x.vinted.ean}}</td>
<!--              <td style="text-align: center;">-->
<!--                <input type="text" style="Width:104%;text-align:center;"ng-model="x.ean" ng-model-options="{updateOn: 'blur'}" ng-change="save(x)" class="myInput">-->
<!--              </td>-->
              <td style="text-align: center;">{{x.vinted.avgPrice}}</td>
              <td>{{x.vinted.modifiedDate|date}}</td>
              <td><a href="#!/vintedItemDelete/{{x.vinted.accountId}}/{{x.vinted.id}}" ><text>Delete</text></a></td>
<!--              <td ><a href="{{x.id}}"></a></td>-->

<!--
              <td>{{x.createdDate | date}}</td>
-->
            </tr>
            <style>
            .myInput{border-style:none;}
            .myInput:hover{ border-style:solid; border:1px solid green;}
            .myInput:focus{ border-style:solid; border:1px solid red;}
</style>

            </thead>
          </table>
        </div>
      </div>
      <!-- END DEFAULT DATATABLE -->
      <div>
        <ul uib-pagination items-per-page="200" max-size="10" total-items="page.totalElements" boundary-links="true" ng-model="page.currentPage" ng-change="sortBy(value)"></ul>
         </div>
    </div>
  </div>

</div>
<!-- PAGE CONTENT WRAPPER -->
