<!-- PAGE CONTENT WRAPPER -->
<div class="page-content-wrap">
    <div class="row" style="font-size:13px;">
        <div class="col-md-12">

            <!-- START DEFAULT DATATABLE -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Channel</h3>
                </div>
                <div class="panel-body">
                    <table class="table datatable">
                        <thead>
                        <tr>
                            <th>url</th>
                            <th>name</th>
                        </tr>
                        <tr  ng-repeat="x in tableVal" >
                            <td> <img src="{{x.imageUrl}}"/><a href="#!/channel-edit/{{x.id}}">&nbsp;&nbsp;{{x.url}}</a></td>
                            <td>name</td>
                        </tr>
                        </thead>
                    </table>
                </div>
            </div>
            <!-- END DEFAULT DATATABLE -->
            <div>
                <ul uib-pagination total-items="page.totalElements" ng-model="page.currentPage" ng-change="load()"></ul>
            </div>
        </div>
    </div>

</div>
<!-- PAGE CONTENT WRAPPER --><!-- PAGE CONTENT WRAPPER -->