&nbsp;<!-- PAGE CONTENT WRAPPER -->
<div class="page-content-wrap">

    <div class="row" style="font-size:13px;">
        <div class="col-md-12">

            <form name="myForm" class="form-horizontal">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title"><strong>Fetch Stock</strong></h3>
                        <ul class="panel-controls">
                            <a href="#!/stock-new/{{params}}" class="btn btn-info pull-left" style="border-color: antiquewhite;">Manual</a>
                            <li><a href="#!/stock/{{params}}" class="panel-remove"><span class="fa fa-times"></span></a></li>
                        </ul>
                    </div>
                    <div class="panel-body">

                        <div class="form-group">
                            <label class="col-md-3 col-xs-12 control-label">Item ID</label>
                            <div class="col-md-6 col-xs-12">
                                <div class="input-group">
                                    <span class="input-group-addon" style="border-radius: 0px;"><span class="fa fa-pencil"></span></span>
                                    <input style="border-radius: 0px;" type="text" ng-model="itemId" class="form-control"/>
                                </div>
                                <span class="help-block" >Enter Item ID
                                       <button ng-show="editItemId" ng-click="replaceItemId(itemId)" class="btn btn-info" style="float:right;border-radius:0px;margin-bottom:5px;">Click to edit ItemID</button>
                                       <button ng-show="!editItemId" ng-click="AddItemId(itemId)" class="btn btn-primary" style="float:right;border-radius:0px;margin-bottom:5px;">Click to add Item ID</button>
                                    </span>
                                <select  style="width:-webkit-fill-available;border:1px solid!important;" size="15"><option ng-repeat="a in stock.itemId track by $index" ng-click="pushItemId(a)" >{{a}}</option></select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3 col-xs-12 control-label">SKU</label>
                            <div class="col-md-6 col-xs-12">
                                <div class="input-group">
                                    <span class="input-group-addon" style="border-radius: 0px;"><span class="fa fa-pencil"></span></span>
                                    <input style="border-radius: 0px;" type="text" ng-model="stock.sku" class="form-control"/>
                                </div>
                                <span class="help-block" >Enter SKU code</span>
                            </div>
                        </div>

                    </div>
                    <div class="panel-footer">
                        <button ng-disabled="stock.itemId.length==0" ng-click="fetchAndAddToStock(stock)" class="btn btn-primary pull-right m-r-xs">Submit</button>
                    </div>
                </div>
            </form>

        </div>
    </div>

</div>
