&nbsp;<!-- PAGE CONTENT WRAPPER -->
<div class="page-content-wrap" xmlns:tooltip-position="http://www.w3.org/1999/xhtml">
    <div class="col-md-12">
    </div>
    <div class="row" style="font-size:13px;">
        <div class="col-md-12">

            <!-- START DEFAULT DATATABLE -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><large contenteditable> Orders ({{page.totalElements}})&nbsp;&nbsp;</large></h3>
                    <input ng-model="params.date" type="date" style="border:inset;margin-top: 5px;
line-height: 23px;" ng-change="changeDate()"> TO
                    <input ng-model="params.date1" type="date" style="border:inset;margin-top: 5px;line-height: 23px;" ng-change="changeDateTo()">

                    <ul class="panel-controls">&nbsp;
                        <label><input type="search" tooltip-placement="bottom-left" uib-tooltip="Sales Record Num or Order Id or Title" class="form-control"  placeholder="Search..." ng-enter="search()" ng-model="searchText" style="border-radius:13px;"></label>
                        <li ng-if="data.upload"><a uib-tooltip="Uploading Data from EBay" class="panel-collapse btn-info disabled"><span class="btn-info fa fa-refresh fa-spin"></span></a></li>
                        <li ng-if="!data.upload">
                            <a tooltip-placement="left" uib-tooltip="Click to Get Latest Orders" ng-if="!page.loading" href="#!/awaitingDispatch/orders/list/{{params.appId}}/refresh" class="panel-refresh" style="margin-top: 2px;">
                                <span class="fa fa-refresh"></span>
                            </a>
                            <a ng-if="page.loading"  class="panel-refresh btn-info disabled">
                                <span class="fa fa-refresh fa-spin"></span>
                            </a>
                        </li>
                        &nbsp;Sort By:
                        <select ng-model="value" ng-change="loadAwaiting(params.appId,value)" style="
    margin-top: 5px;">
                            <option value="orderRef_desc">Latest Record</option>
                            <option value="orderRef_asc">Oldest Record</option>
                        </select>
                    </ul>
                </div>
                <div class="panel-body">
                    <table class="table datatable">
                        <thead>
                        <tr>
                            <th style="width: 10%;">Record ID</th>
                            <th style="width: 13%;">Ext. Order ID</th>
                            <th style="width: 21%;">Item Title</th>
                            <th style="text-align: center;">Qty</th>
                            <th style="width:13%">Buyer Name</th>
                            <th style="text-align: center;width: 7%;">Sold For</th>
                            <th style="text-align: center;width: 11%;">Total Amount</th>
                            <th style="text-align: center;width: 13%;">Shipping Service</th>
                            <th style="text-align: center;width: 11%;">Paid Date</th>
                            <th style="text-align: center;">Status</th>
                        </tr>
                        <tr  ng-repeat="x in EbayListing" ng-click="getStock(x.id)">
                            <td><i ng-if="x.checkDropshipOrder && x.orderDropshipStatus==null" class="fa fa-exclamation-circle" tooltip-placement="top-left" uib-tooltip="Dropship Listing Yet to Dropship" style="font-size: 14px;color: #f4ae30;"></i>
                                <i ng-if="x.orderDropshipStatus" class="fa fa-dropbox" uib-tooltip="Order Dropshipped" tooltip-placement="top-left" style="font-size: 14px;color: yellowgreen;"></i>
                                <i ng-if="x.statusId=='Hide'" class="fa fa-exclamation-triangle" tooltip-placement="top-left" uib-tooltip="Return Address Removed" style="font-size: 14px;color: red;"></i>
                                <a href="#!/awaitingDispatch/orderContent/{{x.accountId}}/{{x.orderRef}}">{{x.orderRef}}<i ng-if="x.orderStatus=='AwaitingPayment'" class="fa fa-info-circle" uib-tooltip="Awaiting Payment" style="font-size: 14px;color: yellowgreen;"></i>
                                 <i ng-if="x.transactionArrayLength!='1'" class="fa fa-info-circle" uib-tooltip="Bundle Purchase"style="font-size: 14px;color: yellowgreen;"></i>
                                </a>
                            </td>
                            <td>{{x.extendedOrderId}}</td>
                            <td ng-init="ttest=x.name.split(',');feSelect();" style="text-align:left"><img src="{{x.imageUrl}}"/>{{x.title}}</td>
                            <td style="text-align: center">{{x.quantityPurchased}}</td>
                            <td style="text-transform:capitalize;">{{x.buyerName}}</td>
                            <td style="text-align: center"><i ng-if="x.subTotalCurrencyId=='GBP'" class="fa fa-gbp"></i><i ng-if="x.subTotalCurrencyId=='EUR'" class="fa fa-eur"></i>&nbsp;{{x.subTotal}}</td>
                            <td style="text-align: center"><i ng-if="x.totalAmountCurrencyId=='GBP'" class="fa fa-gbp"></i><i ng-if="x.totalAmountCurrencyId=='EUR'" class="fa fa-eur"></i>&nbsp;{{x.totalAmount}}</td>
                            <td>
                                <i ng-if="x.subTotal!=x.totalAmount && x.transactionArrayLength>='1' && x.orderStatus!='AwaitingPayment'" class="fa fa-check-circle" uib-tooltip="{{x.shippingServiceSelected}}" tooltip-placement="top-left" style="font-size: 14px; color:green;margin-left: 37px;"></i>
                                <i ng-if="x.subTotal==x.totalAmount && x.orderStatus!='AwaitingPayment'"class="fa fa-times-circle" style="font-size: 14px;color:lightgray;margin-left: 37px;"></i>
                            </td>
                            <td style="text-align: center">{{x.paidDate | date:'mediumDate'}}</td>
                            <td style="text-align: center">
                                <i ng-if="x.orderStatus=='Dispatched'" uib-tooltip="Dispatched on {{x.shippedDate | date:'mediumDate'}}" tooltip-placement="top-right" class="fa fa-truck"></i>
                                <i ng-if="x.orderStatus=='AwaitingDispatch' && (x.cancelStatus=='NotApplicable' || x.cancelStatus==null)" uib-tooltip="Awaiting_Dispatch" tooltip-placement="top-right" class="fa fa-truck" style="color: grey"></i>
                                <i ng-if="x.orderStatus=='AwaitingDispatch' && x.cancelStatus!='NotApplicable'" uib-tooltip="Requested For Cancellation" tooltip-placement="top-right" class="fa fa-info-circle" style="color: red"></i>
                                <i ng-if="x.orderStatus=='AwaitingPayment'" uib-tooltip="Awaiting_Payment" tooltip-placement="top-right"class="fa fa-eur" style="color: grey"></i>
                                <i ng-if="x.orderStatus=='Cancelled'" uib-tooltip="Cancelled" tooltip-placement="top-right" class="fa fa-times-circle"></i>
                                <i ng-if="x.orderStatus=='DROPSHIPPED'" uib-tooltip="Dropshipped on {{x.shippedDate | date:'mediumDate'}}" tooltip-placement="top-right" class="fa fa-dropbox"></i>
                            </td>
                        </tr>
                        <tr  ng-repeat="x in EbayListing" ng-click="getStock(x.id)">
                            {{x.title}}
                        </tr>
                        </thead>
                    </table>
                </div>
            </div>
            <!-- END DEFAULT DATATABLE -->
            <div>
                <ul uib-pagination items-per-page="200" max-size="10" total-items="page.totalElements" ng-model="page.currentPage" ng-change="loadAwaiting(params.appId,value)"></ul>
            </div>
        </div>
    </div>
</div>
<!-- PAGE CONTENT WRAPPER -->